
<br>
<br>
<h1  style="text-align:center;">Add Monthly Payment</h1>
<br>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form #form="ngForm"> 
      <div class="form-group" autocomplete="off" (submit)="onSubmit(form)">
        <input type="text" name="agreementNo" #agreementNo="ngModel" [(ngModel)]="service.formData.agreementNo" class="form-control" placeholder="Agreement No" required>
        <div *ngIf="agreementNo.touched && agreementNo.invalid" class="validation-error">Agreement No Required</div>
      </div>
      <div class="form-group">
          <select name="month" class="form-control">
              <option value="january">January</option>
              <option value="february">February</option>
              <option value="march">March</option>
              <option value="april">April</option>
              <option value="may">May</option>
              <option value="june">June</option>
              <option value="july">July</option>
              <option value="august">August</option>
              <option value="september">September</option>
              <option value="october">October</option>
              <option value="november">November</option>
              <option value="december">December</option>
            </select>
      </div>
      <div class="form-group">
          <input type="number" name="advancedPayment" #advancedPayment="ngModel" [(ngModel)]="service.formData.advancedPayment" class="form-control" placeholder="Monthly Payment" required>
          <div *ngIf="advancedPayment.touched && advancedPayment.invalid" class="validation-error">Monthly Payment Required</div>
      </div>
      <div class="form-group">
        <button type="submit"  class="btn btn-lg btn-block btn-info">Add Customer</button>
      </div>
    </form>
    
  </div>
  <div class="col-md-3"></div>

</div>

